* {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.pokemon {
  background-color: rgb(252, 252, 252);
  margin: 1.4vw;
  width: 22vw;
  border: 0.5px solid rgb(216, 216, 216);
  border-radius: 8px;
  overflow: hidden;
}

.pokemon > p {
  display: none;
}

.pokemon:hover {
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 6px 1px rgba(128, 128, 128, 0.8);
  border: 0.5px solid rgba(216, 216, 216, 0);
}

.pokemon:hover > .typesContainer {
  opacity: 1;
}

.pokemon:hover > h4 {
  color: black;
}

.pokemon > h4 {
  font-size: 1.2vw;
  text-align: center;
  padding-top: 1.2vw;
  padding-bottom: 1.2vw;
  margin-top: 0;
  margin-bottom: 1vw;
  border-bottom: 0.5px solid rgb(216, 216, 216);
  color: rgb(88, 88, 88);
  background-image: linear-gradient(#ffffff, #f9f9f9);
  font-weight: 400;
}

.pokemon > img {
  padding: 0% 10%;
  width: 80%;
  height: auto;
}

.typesContainer {
  opacity: 0.7;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5vw;
}

.type {
  color: rgb(88, 88, 88);
  border: 0.5px solid rgb(216, 216, 216);
  padding: 2px 7px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  margin: 2px 5px;
  font-size: 1vw;
}

.type > div {
  height: 1vw;
  width: 1vw;
  border-radius: 1000px;
  margin-right: 2px;
}

.type .bug {
  background: rgb(146, 217, 57);
}

.type .dragon {
  background: rgb(0, 67, 164);
}

.type .electric {
  background: rgb(255, 255, 0);
}

.type .fairy {
  background: rgb(255, 131, 255);
}

.type .fighting {
  background: rgb(146, 57, 77);
}

.type .fire {
  background: rgb(220, 138, 0);
}

.type .flying {
  background: rgb(102, 169, 233);
}

.type .ghost {
  background: rgb(77, 77, 164);
}

.type .grass {
  background: rgb(0, 170, 0);
}

.type .ground {
  background: rgb(159, 95, 0);
}

.type .ice {
  background: rgb(159, 212, 210);
}

.type .normal {
  background: rgb(179, 179, 179);
}

.type .poison {
  background: rgb(120, 0, 164);
}

.type .psychic {
  background: rgb(243, 85, 115);
}

.type .rock {
  background: rgb(133, 125, 80);
}

.type .steel {
  background: rgb(23, 125, 138);
}

.type .water {
  background: rgb(23, 125, 220);
}

nav {
  width: 85%;
  overflow-x: scroll;
  display: flex;
  padding-top: 1vw;
  border-right: 1px solid rgb(224, 224, 224);
  box-shadow: inset -8px 0px 6px -6px rgb(224, 224, 224);
}

.categoryPanel {
  background: white;
  padding-top: 1vw;
  align-items: center;
  border-bottom: 1px solid rgb(199, 199, 199);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
}

#searchBar {
  border-radius: 300px;
  margin: 0 1vw;
  flex-grow: 1;
  font-size: 1.3vw;
  padding: 1.2vw;
  outline: none;
  color: rgb(221, 221, 221);
  height: 2vw;
  border: 1px solid rgb(211, 211, 211);
}

#searchBar::placeholder {
  color: rgb(221, 221, 221);
}

#searchBar:focus,
#searchBar:hover {
  color: gray;
  border: 1px solid gray;
}

nav::-webkit-scrollbar {
  appearance: none;
}

nav div {
  color: rgb(107, 107, 107);
  background: transparent;
  cursor: pointer;
  font-size: 1.3vw;
  font-weight: 200;
  margin: 0 1vw;
}

nav div#all {
  color: rgb(63, 63, 63);
  font-weight: 800;
}

.detail {
  text-align: center;
  height: 100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  transition: 0.3s;
  padding-top: 5vw;
  color: rgb(255, 255, 255);
}

.detail::-webkit-scrollbar {
  appearance: none;
}

.detail img {
  width: 35%;
}

.detail a {
  color: black;
}

.detail p {
  line-height: 2vw;
  text-align: justify;
  font-size: 1.3vw;
}

#closeBtn {
  font-weight: 800;
  top: 3vw;
  right: 2vw;
  position: absolute;
  background: white;
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    padding-top: 2vw;
  }

  .pokemon {
    width: 30vw;
  }

  .pokemon > h4 {
    font-size: 3vw;
  }

  .pokemon:hover {
    box-shadow: 0px 0px 3px 1px rgba(128, 128, 128, 0.8);
    border: 0.5px solid rgba(216, 216, 216, 0);
  }

  .type {
    font-size: 2vw;
  }

  nav div {
    font-size: 5vw;
  }

  .detail p {
    line-height: 4vw;
    font-size: 3vw;
  }

  #searchBar {
    font-size: 2.6vw;
    height: 4vw;
    flex-grow: 0;
    overflow: hidden;
  }
}
